<%- include('../comunes/cabecera') %>
<% const existeMensaje = typeof datos.mensaje !== 'undefined' %>
<% if(existeMensaje) {%>
    <div>
        <div class='alert alert-success' role='alert'>
            <%= datos.mensaje%>
        </div>
    </div>
<%}%>
<div class='container'>
    <h1>Registrar una nueva cita</h1>
    <form action='/cita/registro-formulario' method='post'>
        <div class='mb-3'>
            <label for='nombre' class='form-label'>
                Nombre*
            </label>
            <input placeholder='Ej. Leonel'
                   type='text'
                   name='nombre'
                   class='form-control'
                   id='nombre'
                   aria-describedby='ayudaNombre'>
            <div id='ayudaNombre' class='form-text'>
                Ingrese el nombre
            </div>
        </div>
        <br>
        <div class='mb-3'>
            <label for='apellido' class='form-label'>
                Apellido*
            </label>
            <input placeholder='Ej. Almendariz'
                   type='text'
                   name='apellido'
                   class='form-control'
                   id='apellido'
                   aria-describedby='apellidoNombre'>
            <div id="apellidoNombre" class="form-text">
                Ingrese el apellido.
            </div>
        </div>
        <br>
        <div class='mb-3'>
            <label for='cedula' class='form-label'>
                Cedula*:
            </label>
            <input placeholder='Ej. 1723884912'
                   type='text'
                   name='cedula'
                   class='form-control'
                   id='cedula'
                   aria-describedby='cedulaNombre'>
            </div>
        </div>
        <br>
        <div class='mb-3'>
            <label for='categoria' class='form-label'>
                Categoría
            </label>
            <select id='categoria'
                    type='text'
                    name='categoria'
                    class='form-control'
                    aria-describedby='areaCat'>
                <option value='Oftalmologia'>Oftalmologia</option>
                <option value='MedicinaGeneral'>Medicina General</option>
                <option value='Odontología'>Odontología</option>
                <option value='Pediatría'>Pediatria</option>
            </select>
        </div>
        <br>
        <div class='mb-3'>
            <label for='seguroSocial'>
                Afiliado al seguro Social
            </label>
            <label for='seguroSocial'>
                Afiliado al seguro Social
            </label>
            <input type='checkbox' id='seguro_social' name='seguro_social' checked> Si
            <input type='checkbox' id='seguro_social' name='seguro_social'>No
        </div>
        <br>
        <button type="submit" class="btn btn-primary w-100">Registrar</button>
    </form>
</div>


<%- include('../comunes/footer') %>