<%- include('../views/comunes/cabecera') %>
<h1>Centro Medico </h1>
<div>

</div>
<div class=''>
   <h2>Mision</h2>
   <p>
       «Todo lo que haces, hazlo con amor».  Esto nos permite establecer una relación armoniosa y completa con nuestros pacientes para proporcionarles un apoyo óptimo.\n
       De esta manera brindamos atención médica de calidad y, al mismo tiempo, les mostramos a nuestros pacientes el significado del amor de Dios.
   </p>
</div>
<div>
    <h2>Vision</h2>
    <p>
        Nuestra visión es seguir implantando y mejorando un modelo asistencial basado en la calidad, para que nuestros pacientes y sus familiares sean el mejor
        referente de salud en nuestro país. En 5 años convertirnos en la unidad de cuidados intensivos líder a nivel local, brindando servicios de salud de forma
        eficiente y eficaz haciendo que la comunidad sienta que está en las mejores manos
    </p>
</div>
<%- include('../views/comunes/footer') %>